<% if @result == 1 %>
  <h2> Congratulations! You're good homie. </h2>
<% elsif @result == 0 %>
  <h2> Oof.. Not looking good pal.. might wanna move on.. </h2>
<% else %>
  <h2> Some shit happened and we couldn't classify your startup. </h2>
<% end %>
